:root{
  --bg-color:linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  --text-color:#6E728E;
  --btn-text-color:#6D72DE;
  --btn-text-color-second:#FFFFFF;


}
.dark-mode{
  --btn-text-color:#ffffff;
  --btn-text-color-second:#6D72DE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: "Montserrat", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper{
  width: 1440px;
  height: 850px;
  margin: auto;
  background-color: #F7F7FE;
  background-image: url(../img/left-bg-img.png),
  url(../img/top-right-bg-img.png);
  background-repeat: no-repeat;
  background-position: left  bottom,
  right  top;
  background-repeat:no-repeat;

  /* border: 1px solid red; */
}
.container{
  width: 100%;
  max-width: 1050px;
  height: 100%;
  margin: auto;
  padding-top: 71px;

  /* border:1px solid blue; */
}

.heading-page{
 font-size: 32px;
 line-height: 39px;
 color: var(--text-color) ;
 font-weight: 700;
 text-align: center;
 margin-bottom: 40px;
}
.pricing-switch{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;

}
.switch{
  display: flex;
  justify-content: center;
  align-items:center;
}


.switch-label{
 font-size: 15px;
 line-height: 28px;
 font-weight: 700;
 color:rgba(110, 114,142, 0.5) ;
 cursor: pointer;

}
.switch-label:hover{
  color:var(--text-color);
}
.switch-control{
  position: relative;
  width: 56px;
  height: 32px;
  border-radius:16px;
  padding: 4px;
  margin-left: 24px;
  margin-right: 24px;
  background-color:#696EDD;
  background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);

}
.switch-circle{
  width: 24px;
  height: 24px;
  border-radius:50%;
  background-color:var(--btn-text-color-second);
  transition: margin 0.2s ease;

}
.switch-control:hover .switch-circle{
  /* margin-left: 24px; */
}
.switch-control-annual,
.switch-control-monthly{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

}
.switch-input-annual:checked ~.switch-control .switch-control-monthly,
.switch-input-monthly:checked ~.switch-control .switch-control-annual{
  z-index: 5;
}
.switch-input-monthly:checked ~ .switch-control .switch-circle{
 margin-left: 24px;
}
/* .switch-control-annual{
  right: 100%;
}
.switch-control-monthly{
  left: 100%;
} */
/* .switch-input-annual:checked ~ .switch-control .switch-control-monthly{
 transform: translateY(-10px);
}
.switch-input-monthly:checked ~ .switch-control .switch-control-annual{
  transform: translateY(-10px);
 } */

.cards-wrapper{
  display: flex;
  width: 1050px;
  height: 501px;
  /* border: 1px solid green; */
}
.card-basic{
  width: 350px;
  height: 453px;
  margin: 24px 0px 23px 0px;
  background-color:var(--btn-text-color-second);
  padding: 31px;
  /* border:1px solid yellowgreen; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 20px 40px 0px #D4D2F480;

}
.card-professional{
  height: 500px;
  margin: 0;
  border-radius:5px;
  background-color:var(--btn-text-color);
  box-shadow: 0px 20px 40px 0px #D4D2F480;

}

.card-master{
  border-radius:0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.heading-card{
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  color:var(--text-color);
}
.pricing{
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom: 32px;
}
.dollar-sign{
  font-size: 40px;
  line-height: 49px;
  letter-spacing:-1.2px;
  color:#4A4D60;
  margin-right: 8px;
}
.pricing-number{
 font-size: 72px;
 line-height: 71px;
 font-weight: 700;
 margin: 0;
 letter-spacing: -2.16px;
 color:#4A4D60;
}
.horizontal-line{
  width: 100%;
  border:1px solid var(--text-color);
  opacity: 25%;

}
.horizontal-line:not(:last-child){
  margin-bottom: 12px;
}
.horizontal-line:not(:first-child){
  margin-top: 12px;
}
.info-card{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 15px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color);

}
.btn{
  width: 100%;
  height:44px;
  background-color:var(--btn-text-color);
  border:none;
  border-radius:5px;
  font-style: 13px;
  line-height: 16px;
  letter-spacing: 1.39px;
  color:var(--btn-text-color-second);
  margin-top: 32px;
  cursor: pointer;
}
.btn-professional-card{
  border:1px solid var(--btn-text-color-second);
}


/* HOVER */
.card-professional:hover .heading-card-professional{
  color:var(--btn-text-color-second);
}
.card-professional:hover .dollar-sign-professional-card{
  color:var(--btn-text-color-second);
}
.card-professional:hover .pricing-number-professional-card{
  color:var(--btn-text-color-second);
}
.card-professional:hover .info-card{
  color:var(--btn-text-color-second);
}
.card-professional:hover .horizontal-line{
  border-color:var(--btn-text-color-second);
}
.card-professional:hover .btn{
  background-color: var(--btn-text-color);

}
.card-basic:hover .btn{
  background-color:var(--btn-text-color-second);
  color: var(--btn-text-color);
  border:1px solid var(--btn-text-color);
}
